.cont {
    width: 100%;
    background-color: rgb(248,248,248);
}

#footer, .fbottom {
    font-family: "MuseoSans-300",sans-serif;
    font-size: 14px;
    width: 80%;
    margin: auto;
    color: rgb(152,152,152);
    display: grid;
    padding: 40px;
    gap: 3%;
    grid-template-areas: "fsignup fproducts fwhy fcompany" 
    ". fresources fguides ftools"
    ;
}
.fboldfont {
    color: rgb(75,75,75);
    font-size: 17px;
    margin: 5px 0;
    font-weight: bold;

    
}
#footer a, .fbottom a {
    text-decoration: none;
    color: rgb(152,152,152);
}
#footer p {
    margin: 10px 0;
}
.fsignup {
    grid-area: fsignup;
}

.fproducts {
    grid-area: fproducts;
}
.fwhy {
    grid-area: fwhy;
}
.fcompany {
    grid-area: fcompany;
}
.fresources {
    grid-area: fresources;
}
.fguides {
    grid-area: fguides;
}
.ftools {
    grid-area: ftools;
}
.fsignup img {
    width: 50px;
    margin: 0px 0px 20px 0px;

}
.fproducts img {
    width: 20px;
    border-radius: 1px;
    margin-right: 10px;
}
.flex {
    display: flex;
}
#footer hr {
    border: rgb(241, 241, 241) solid 1px;
   
}
.fbottom a {
    text-decoration: underline;
}
.icon {
margin-left: 40%;
    gap: 8px;
}
.icon img {
    width: 25px;
    border-radius: 50%;
}
#footer a:hover{
    color: #776B64;
}
