body{
    font-family: sans-serif;
    color:rgb(75, 75, 75);
}
.navbar{
   display: grid;
   grid-template-columns: 1.1fr 1fr;
   grid-template-rows: 60px;
   font: family MuseoSans -700px, sans-serif;
   background-color: #F8F8F8;
   /* position: -webkit-sticky;
   position: sticky; */
   top: 0;
   /* border: 1px solid blue; */
}
.navbar > div:nth-child(1){
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    
    /* padding-top: 10px; */
}
.navbar > div:nth-child(2) > div{
    /* border: 1px solid red; */
    text-align: center;
    font-family : sans-serif;
    font-size:14px;
   
    padding-top: 15px;
    font-weight: 550;
    
}
.navbar > div:nth-child(1) > div{
    /* border: 1px solid red; */
    text-align: center;
    font-family : sans-serif;
    font-size:14px;
    font-weight:400;
    padding-top: 5px;
    font-weight: 550;
}
.navbar > div:nth-child(2){
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1.5fr;
    grid-template-rows: 50px;
    padding-top: 8px;
    
}
#down{
    padding-top: 23px;
}

.navbar a{
    text-decoration: none;
    color:rgb(75, 75, 75);
}
#signup{
    background-color: #F37E5D;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    cursor:pointer;

}
.navbar a:hover{
    color:#F37E5D ;
}
#signup:hover{
    background-color:#F16B45 ;
}
.sec-A{
    text-align: center;
    background-color: #F8F8F8;
    border: 1px solid #F8F8F8;
    height: 420px;
}
.sec-A>div:nth-child(1){
    color: rgb(75, 75, 75);
    font-size:50px;
    font-family: sans-serif;
    line-height:65px;
    font-weight:550;
    margin-top: 50px;
}
.sec-A>div:nth-child(2){
    font-family: sans-serif;
    color: rgb(75, 75, 75);
    font-size:18px;
    margin-top: 5px;
    line-height:27px;
    font-weight: 100;
    word-spacing: 7px;
}
#try{
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color:#F37E5D;
    line-height:21.4286px;
    vertical-align:middle;
    font-family: sans-serif;
    height: 50px;
    width: 15%;
    font-weight: 550;
    border:none;
    border-radius: 5px;
}
#try:hover{
    background-color:#F16B45;
    cursor:grab/pointer;
}
.sec-A>div:nth-child(3){
    margin-top: 25px;
}
#try a{
    text-decoration: none;
}
.sec-A>div:nth-child(4){
    margin-top: 20px;
    font-weight: 300;
}   
.sec-C{
   /* border: 1px solid red; */
   
}

.sec-D>div:nth-child(2){
    display: grid;
    grid-template-columns:0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 50px 50px;
    width: 60%;
    margin-left: 20%;
    row-gap: 40px;
    column-gap: 7%;
    padding-bottom: 80px;
}
.sec-D>div:nth-child(2) > div{
    /* border: 1px solid green; */
}
.sec-D>div:nth-child(1){
    color: #4B4B4B;
    font-family: sans-serif;
    font-size: 30px;
    line-height: 39px;
    font-weight: 550;
    text-align: center;
    /* border: 1px solid red; */
    margin-top: 80px;
    margin-bottom: 40px;
}
.sec-D{
    /* border: 1px solid black; */
}
.sec-F{
    background-color: white;
    text-align: center;
    /* border: 1px solid green; */
}

.sec-F>div:nth-child(1)>div{
    color: rgb(75, 75, 75);
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 550;
}
.sec-F>div:nth-child(1)>p{
    color:rgb(75, 75, 75) ;
    font-size: 18px;
    font-family: sans-serif;
}
.sec-F>div:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px;
    column-gap: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 60px;
}
.sec-F>div:nth-child(2)>div{
    /* border: 1px solid red; */
    text-align: center;
    border:3px solid #F4F4F4;
    
    
    
}
.sec-F>div:nth-child(2)>div:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor:pointer;

}
.sec-F>div:nth-child(2)>div:nth-child(1)>div:nth-child(1){
    line-height: 50px;
    font-size: 50px;
    /* border: 1px solid black; */
    margin-top: 30px;
    font-weight: 700;
}
.sec-F>div:nth-child(2)>div:nth-child(1)>div:nth-child(2){
    font-size: 24px;
    margin-bottom: 10px;
}
.sec-F>div:nth-child(2)>div:nth-child(1)>div:nth-child(3){
    background-color: #F4F4F4;
    width: 30%;
    margin-left: 35%;
    height: 5px;
}
.sec-F>div:nth-child(2)>div:nth-child(1)>div:nth-child(4){
    line-height: 30px;
    margin-top: 35px;
}
.sec-F>div:nth-child(2)>div:nth-child(2)>div:nth-child(1){
    color: black;
    font-size: 70px;
    /* border: 1px solid black; */
    font-weight: bold;
    line-height: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    
}
.sec-F>div:nth-child(2)>div:nth-child(2)>div:nth-child(2){
    margin-top: 20px;
}
.sec-F>div:nth-child(2)>div:nth-child(3)>div:nth-child(1){
    height: 150px;
    margin-top: 30px;
    /* border: 1px solid black; */
}
.sec-F>div:nth-child(2)>div:nth-child(3)>div:nth-child(2){
    margin-top: 30px;
}
.sec-E{
    /* border: 1px solid orange; */
    height: 700px;
    background-color: #F8F8F8;
    margin-bottom: 80px;
    padding-top: 40px;
}
.sec-E>div:nth-child(1){
    color: #5B4B4B;
    font-size: 30px;
    font-weight: 550;
    /* border: 1px solid darkolivegreen; */
    text-align: center;
    margin-top: 50px;
}
.container{
    /* border: 1px solid gray; */
    height: 550px;
    margin-top: 40px;
    display: grid;
    margin-left: 15%;
    margin-right: 15%;
    grid-template-columns: 49.5% 0.2% 49.5%;
    grid-template-rows: 550px;
    
}
.container>div{
    /* border: 1px solid orange; */
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows:180px 300px 50px;
}
.real_div>div:nth-child(1){
    text-align: center;
    /* border: 1px solid goldenrod; */
}
.real_div>div:nth-child(1)>img{
    height: 60px;
    /* border: 1px dashed yellowgreen; */
}
.real_div>div:nth-child(1)>p{
    font-size: 14px;
   
}
.real_div>div:nth-child(1)>h2{
    font-family: MuseoSans-700;
}
.real_div>div:nth-child(2){
    /* border: 1px solid red; */
    padding-left: 20%;
}
.list_div>p:before {

 content: '✓ ';
 color: tomato;
 font-weight: bold;
}
.list_div>p{
    color: rgb(75, 75, 75);
    font-size: 14px;
}
#em_1{
    background-color: #F37E5D;
    
    border-radius: 5px;
    height: 30px;
    border: none;
    width: 80%;
    margin-top: 65px;
    height: 50px;
    font-weight: 550;
    cursor:pointer;
}
a{
    text-decoration: none;
}
#em_1:hover{
    background-color:#F16B45 ;
}
#em_2{
    background-color: white;
    border: 2px solid #F16B45;
    color:#F16B45;
    border-radius: 5px;
    height: 30px;
    width: 80%;
    height: 50px;
    margin-top: 22px;
    font-weight: 550;
    cursor:pointer;

}

#em_2:hover{
    background-color:#F16B45;
    color: white;
}
.line{
    background-color: rgb(228, 228, 228);
}
.sec-G{
    
    background-image: linear-gradient(to right, #F37E5D, #fcbf9e);
    height: 200px;
    margin-top: 80px;
    text-align: center;
    padding-top: 50px;
}
.sec-G>h2{
    color: white;
    font-size: 28px;
}
.sec-G>button{
    color:#f37e5d;
    border:2px solid #f37e5d;
    font-size: 15px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.sec-G>button:hover{
    background-color: #FDEAE2;
}
.animation{
    height: 450px;
    width: 100%;
    /* border: 1px solid blue; */
    width:70%;
    margin-left: 15%;
    box-shadow: -5px -5px 10px 10px #E3E3E3;
    background-color: #F4F4F4;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 225px 225px;
    grid-gap: 2px;
}
.animation>div{
    /* border: 1px solid blue; */
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-top: 10px;
}
.animation>div>img{
    width: 100%;
    
    
}
