body{
    font-family: sans-serif;
    color:rgb(75, 75, 75);
}
.navbar{
   display: grid;
   grid-template-columns: 1.1fr 1fr;
   grid-template-rows: 60px;
   font: family MuseoSans -700px, sans-serif;
   background-color: #F8F8F8;
   /* border: 1px solid blue; */
}
.navbar > div:nth-child(1){
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    
    /* padding-top: 10px; */
}
.navbar > div:nth-child(2) > div{
    /* border: 1px solid red; */
    text-align: center;
    font-family : sans-serif;
    font-size:14px;
   
    padding-top: 15px;
    font-weight: 550;
    
}
.navbar > div:nth-child(1) > div{
    /* border: 1px solid red; */
    text-align: center;
    font-family : sans-serif;
    font-size:14px;
    font-weight:400;
    padding-top: 5px;
    font-weight: 550;
}
.navbar > div:nth-child(2){
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1.5fr;
    grid-template-rows: 50px;
    padding-top: 8px;
    
}
#down{
    padding-top: 23px;
}

.navbar a{
    text-decoration: none;
    color:rgb(75, 75, 75);
}
#signup{
    background-color: #F37E5D;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
}
.navbar a:hover{
    color:#F37E5D ;
}
#signup:hover{
    background-color:#F16B45 ;
}
.sec-A{
    text-align: center;
    background-color: #F8F8F8;
    border: 1px solid #F8F8F8;
    height: 420px;
}
.sec-A>div:nth-child(1){
    color: rgb(75, 75, 75);
    font-size:50px;
    font-family: sans-serif;
    line-height:65px;
    font-weight:550;
    margin-top: 50px;
}
.sec-A>div:nth-child(2){
    font-family: sans-serif;
    color: rgb(75, 75, 75);
    font-size:18px;
    margin-top: 5px;
    line-height:27px;
    font-weight: 100;
    word-spacing: 7px;
}
#try{
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color:#F37E5D;
    line-height:21.4286px;
    vertical-align:middle;
    font-family: sans-serif;
    height: 50px;
    width: 15%;
    font-weight: 550;
    border:none;
    border-radius: 5px;
}
#try:hover{
    background-color:#F16B45;
    cursor:grab/pointer;
}
.sec-A>div:nth-child(3){
    margin-top: 25px;
}
#try a{
    text-decoration: none;
}
.sec-A>div:nth-child(4){
    margin-top: 20px;
    font-weight: 300;
}   
.sec-C{
   /* border: 1px solid red; */
   
}
.animation{
    height: 450px;
    width: 100%;
    /* border: 1px solid blue; */
    width:70%;
    margin-left: 15%;
    box-shadow: -5px -5px 10px 10px #E3E3E3;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.sec-D>div:nth-child(2){
    display: grid;
    grid-template-columns:0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 50px 50px;
    width: 60%;
    margin-left: 20%;
    row-gap: 40px;
    column-gap: 7%;
    padding-bottom: 80px;
}
.sec-D>div:nth-child(2) > div{
    /* border: 1px solid green; */
}
.sec-D>div:nth-child(1){
    color: #4B4B4B;
    font-family: sans-serif;
    font-size: 30px;
    line-height: 39px;
    font-weight: 550;
    text-align: center;
    /* border: 1px solid red; */
    margin-top: 80px;
    margin-bottom: 40px;
}
.sec-D{
    /* border: 1px solid black; */
}
.sec-F{
    background-color: white;
    text-align: center;
    /* border: 1px solid green; */
}

.sec-F>div:nth-child(1)>div{
    color: rgb(75, 75, 75);
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 550;
}
.sec-F>div:nth-child(1)>p{
    color:rgb(75, 75, 75) ;
    font-size: 18px;
    font-family: sans-serif;
}
.sec-F>div:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px;
    column-gap: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 60px;
}
.sec-F>div:nth-child(2)>div{
    /* border: 1px solid red; */
    text-align: center;
    border:3px solid #F4F4F4;
    
    
    
}
.sec-F>div:nth-child(2)>div:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.sec-F>div:nth-child(2)>div:nth-child(1)>div:nth-child(1){
    line-height: 50px;
    font-size: 50px;
    /* border: 1px solid black; */
    margin-top: 30px;
    font-weight: 700;
}
.sec-F>div:nth-child(2)>div:nth-child(1)>div:nth-child(2){
    font-size: 24px;
    margin-bottom: 10px;
}
.sec-F>div:nth-child(2)>div:nth-child(1)>div:nth-child(3){
    background-color: #F4F4F4;
    width: 30%;
    margin-left: 35%;
    height: 5px;
}
.sec-F>div:nth-child(2)>div:nth-child(1)>div:nth-child(4){
    line-height: 30px;
    margin-top: 35px;
}
.sec-F>div:nth-child(2)>div:nth-child(2)>div:nth-child(1){
    color: black;
    font-size: 70px;
    /* border: 1px solid black; */
    font-weight: bold;
    line-height: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    
}
.sec-F>div:nth-child(2)>div:nth-child(2)>div:nth-child(2){
    margin-top: 20px;
}
.sec-F>div:nth-child(2)>div:nth-child(3)>div:nth-child(1){
    height: 150px;
    margin-top: 30px;
    /* border: 1px solid black; */
}
.sec-F>div:nth-child(2)>div:nth-child(3)>div:nth-child(2){
    margin-top: 30px;
}